@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background: white;
  font-family: "Lato", sans-serif;
}
.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: lightblue;
  z-index: 1;
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.nav-icon {
  font-size: 1.5rem;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: orange;
  padding: 0 5px;
  border-radius: 30%;
  color: white;
}
.my-logo {
  height: 60px;
  width: 150px;
}

.hero {
  min-height: calc(100vh -60px);
  background: url("https://media.istockphoto.com/id/1182647518/photo/excited-girl-using-smartphone-holding-finger-on-chin-pink-background.jpg?s=612x612&w=0&k=20&c=BV-9oTAoRKaS8p6FvARn28zeUypuLsDo0O3254oXSnE=")
    center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  text-align: center;
  background-color: aliceblue;
  display: inline-block;
  padding: 2rem;
}
.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;
}

.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  background: orangered;
  color: black;
  border: 1px solid orangered;
  transition: all 0.3s linear;
  cursor: pointer;
}

.banner-btn:hover {
  background: transparent;
  color: orangered;
}

.products {
  padding: 4rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
.products-center {
  width: 90vh;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: orangered;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: 550;
  transition: all 0.3s linear;
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover{
  color:white'
}
