@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background: white;
  font-family: "Lato", sans-serif;
}
.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: lightblue;
  z-index: 1;
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}
.nav-icon {
  font-size: 24px;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: orange;
  padding: 0 5px;
  border-radius: 30%;
  color: white;
}
.my-logo {
  height: 60px;
  width: 150px;
}

.hero {
  min-height: calc(100vh - 60px);
  background: url("https://media.istockphoto.com/id/1182647518/photo/excited-girl-using-smartphone-holding-finger-on-chin-pink-background.jpg?s=612x612&w=0&k=20&c=BV-9oTAoRKaS8p6FvARn28zeUypuLsDo0O3254oXSnE=")
    center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  padding: 32px;
}
.banner-title {
  font-size: 54.4px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-bottom: 48px;
}

.banner-btn {
  padding: 16px 48px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  font-size: 16px;
  background: orangered;
  color: black;
  border: 1px solid orangered;
  transition: all 0.3s linear;
  cursor: pointer;
}

.banner-btn:hover {
  background: transparent;
  color: orangered;
}

.products {
  padding: 64px 0;
}
.section-title h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 80px;
  text-transform: capitalize;
  letter-spacing: 1.6px;
}
.products-center {
  width: 90vh;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 24px;
  grid-row-gap: 32px;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: orangered;
  border: none;
  text-transform: uppercase;
  padding: 8px 12px;
  letter-spacing: 1.6px;
  font-weight: 550;
  transition: all 0.3s linear;
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: white;
}
.fa-shopping-cart {
  margin-right: 8px;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}

.product-img {
  display: block;
  width: 100%;
  min-height: 192px;
  transition: all 0.3s linear;
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 17.6px;
  margin-top: 16px;
  letter-spacing: 1.6px;
  text-align: center;
}
.product h4 {
  margin-top: 11.2px;
  letter-spacing: 1.6px;
  color: orangered;
  text-align: center;
}

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  background-color: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: white;
  padding: 24px;
  transition: all 0.3s linear;
}
.show-cart {
  transform: translateX(0);
}

.transparentBcg {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .cart {
    width: 30vh;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 27.2px;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 1.6px;
  margin-bottom: 32px;
}

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 24px;
  margin: 24px 0;
}

.cart-item img {
  width: 75px;
  height: 75px;
}

.cart-item h4 {
  font-size: 13.6px;
  text-transform: capitalize;
  letter-spacing: 1.6px;
}

.cart-item h5 {
  margin: 8px 0;
  letter-spacing: 1.6px;
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
